<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appbuilder.core">

    <application
        android:theme="@style/Theme.AppCompat.FullScreen">

        <!-- Google Ad! Needed for new google-play-service lib -->
        <meta-data tools:replace="value" android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <!--<meta-data-->
        <!--tools:replace="value"-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="4323000"/>-->
        <!-- Activity required to show ad overlays. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <activity android:name=".AppBuilder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- LOGIN SCREEN -->
        <activity android:name=".LoginScreen.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginScreen.RegisterEmailAccountActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginScreen.LoginWithEmailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginScreen.RecoveryPasswordActivity" android:screenOrientation="portrait"/>

        <!-- END LOGIN SCREEN -->

        <!-- PAYPAL KOSTYLI -->
        <service android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentCompletedActivity"/>
        <activity android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="io.card.payment.DataEntryActivity"/>
        <activity android:name="com.ibuildapp.PayPalAndroidUtil.FakePaymentActivity" />
        <!-- PAYPAL KOSTYLI -->

        <activity android:name=".PushNotification.AppPushNotification" android:screenOrientation="portrait"/>
        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".GPSNotification.GPSLocationMap" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GPSNotification.GPSLocationText" android:screenOrientation="portrait"></activity>
        <!-- Authorization Subsystem start -->
        <activity android:name="com.appbuilder.sdk.android.authorization.FacebookAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.appbuilder.sdk.android.authorization.TwitterAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.appbuilder.sdk.android.authorization.VkontakteAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.appbuilder.sdk.android.authorization.LinkedInAuthorizationActivity"
            android:screenOrientation="portrait"/>

        <!-- Authorization Subsystem end -->

        <activity android:name=".SharingActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ContactChooser" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>

        <!-- for FeedBack module start -->
        <activity android:name="com.ibuildapp.romanblack.FeedbackPlugin.FeedbackPlugin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>
        <!-- for FeedBack module end -->

        <activity android:name="com.ibuildapp.romanblack.CalculatorPlugin.CalculatorPlugin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/calculator"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ibuildapp.romanblack.CallPlugin.CallPlugin"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.GET_CONTENT"/>-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<data android:mimeType="ibuildapp.romanblack/call"/>    -->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="com.ibuildapp.romanblack.ImagesPlugin.ImagesPlugin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/images"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.ImagesPlugin.ImagesDetails"
            android:configChanges="orientation"></activity>
        <activity android:name="com.ibuildapp.romanblack.ImagesPlugin.ImagesBottomPanel"
            android:theme="@android:style/Theme.Dialog"></activity>

        <activity android:name="com.ibuildapp.romanblack.ContactPlugin.ContactPlugin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/contacts"/>
            </intent-filter>
        </activity>

        <service android:name=".PushNotification.AppPushNotificationReceiver"/>
        <receiver android:name=".PushNotification.CustomNotificationReceiver">
            <intent-filter>
                <action android:name="com.appbuilder.core.PUSH_MESSAGE"/>
            </intent-filter>
        </receiver>
        <service android:name=".GPSNotification.GPSService">
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </service>

        <service android:name=".PushNotification.services.PushNotificationService">
        </service>
        <receiver android:name=".system.SystemReceiver">
            <intent-filter>
                <action android:name="com.appbuilder.core.PUSH_SERVICE_STOPPED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.appbuilder.core.INTERNET_OFF"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.appbuilder.core.INTERNET_ON"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".system.WifiStateReceiver">
            <!--<intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>-->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".system.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.ibuildapp.romanblack.WebPlugin.WebPlugin"
            android:hardwareAccelerated="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/web"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ibuildapp.romanblack.CustomFormPlugin.CustomFormPlugin"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/customform"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ibuildapp.romanblack.EmailPlugin.EmailPlugin">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/email"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.EmailPlugin.addfile"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="com.ibuildapp.romanblack.EmailPlugin.dellfile"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="com.ibuildapp.romanblack.EmailPlugin.filelist"
            android:theme="@android:style/Theme.Dialog"></activity>

        <activity android:name="com.ibuildapp.romanblack.ECommercePlugin.ECommercePlugin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/ecom"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.ECommercePlugin.ECommerceBuy"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.ECommercePlugin.ECommerceDetails"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name="com.paypal.android.MEP.PayPalActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation"/>

        <activity android:name="com.ibuildapp.romanblack.MapPlugin.MapPlugin">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/map"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.MapPlugin.MapRoute"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.MapPlugin.MapBottomPanel"></activity>
        <activity android:name="com.ibuildapp.romanblack.MapPlugin.WebViewer"></activity>

        <activity android:name="com.ibuildapp.romanblack.MediaPlugin.MediaPlugin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/media"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.MediaPlugin.MusicPlayer"></activity>
        <activity android:name="com.ibuildapp.romanblack.MediaPlugin.VideoPlayer"
            android:configChanges="orientation"></activity>
        <activity android:name="com.ibuildapp.romanblack.MediaPlugin.AudioPlayer"
            android:configChanges="orientation"></activity>
        <service android:name="com.ibuildapp.romanblack.MediaPlugin.BackGroundMusicService">
        </service>

        <activity android:name="com.ibuildapp.romanblack.TablePlugin.TablePlugin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/table"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.TablePlugin.TableDetails"></activity>

        <activity android:name="com.ibuildapp.romanblack.CouponPlugin.CouponPlugin">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/coupon"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.CouponPlugin.CouponDetails"></activity>

        <activity android:name="com.ibuildapp.romanblack.NewsPlugin.NewsPlugin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="ibuildapp.romanblack/rss"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.NewsPlugin.FeedDetails"></activity>
        <activity android:name="com.ibuildapp.romanblack.NewsPlugin.EventsNotification"></activity>
        <activity android:name="com.ibuildapp.romanblack.NewsPlugin.EventsNotificationView"/>

        <activity android:name="com.ibuildapp.username.TicTacToe.MainActivity">
        </activity>

        <receiver android:name="com.google.android.c2dm.C2DMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.appbuilder.core"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.appbuilder.core"/>
            </intent-filter>
        </receiver>

        <!--<receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
                      android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.appbuilder.core" />
            </intent-filter>
        </receiver>-->

        <uses-library android:name="com.google.android.maps"/>

        <activity android:name="com.ibuildapp.romanblack.MultiContactsPlugin.MultiContactsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.MultiContactsPlugin.ContactDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.MultiContactsPlugin.ContactsWebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.MultiContactsPlugin.ContactsMapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.MultiContactsPlugin.MultiContactsPlugin"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.MultiContactsPlugin.ContactsMap"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.FanWallPlugin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.AuthorizationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.FacebookAuthorizationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.TwitterAuthorizationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.EMailAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.EMailSignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.MessageView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.ImageViewActivity"
            android:configChanges="orientation"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.CameraActivity"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.SendMessageActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            android:configChanges="keyboard"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.ProfileViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.FanWallMapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.FanWallPhotoListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.FanWallPlugin.SharingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.SoundCloudPlugin.SoundCloudPlugin"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.SoundCloudPlugin.AudioPlayer"
            android:screenOrientation="portrait"/>
        <service android:name="com.ibuildapp.romanblack.SoundCloudPlugin.BackGroundMusicService">
        </service>
        <activity android:name="com.ibuildapp.romanblack.SoundCloudPlugin.FacebookAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.SoundCloudPlugin.TwitterAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.SoundCloudPlugin.SharingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.AudioPlugin"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.AudioPreviewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.AudioPlayerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.CommentsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.CommentsToCommentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.AuthorizationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.EMailAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.EMailSignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.SendMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.ibuildapp.romanblack.AudioPlugin.SharingActivity"
            android:screenOrientation="portrait"/>

        <receiver android:name="com.ibuildapp.romanblack.AudioPlugin.PushBroadcast">
            <intent-filter>
                <action android:name="com.ibuildapp.romanblack.AudioPlugin.PUSH"/>
            </intent-filter>
        </receiver>

        <service android:name="com.ibuildapp.romanblack.AudioPlugin.BackGroundMusicService">
        </service>

        <!-- Table Reservation -->
        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationPlugin"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationLogin"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationTwitterAuthorization"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservatoinFacebookAuthorization"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationModify"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationReservation"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationSpecialRequest"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationSummary"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationMap"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationMapRoute"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationEMailSignUpActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservatioinListOfReservations"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.ibuildapp.romanblack.TableReservationPlugin.TableReservationPersonPicker"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"></activity>

        <!-- Menu Plugin -->
        <activity android:name="com.ibuildapp.romanblack.MenuPlugin.MenuPlugin"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.MenuPlugin.MenuPluginItemsList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.MenuPlugin.MenuPluginItemDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.MenuPlugin.SharingActivity"
            android:screenOrientation="portrait"/>
        <!-- QR PLUGIN -->
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.QRPlugin"
            android:screenOrientation="landscape"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Allow web apps to launch Barcode Scanner by linking to http://zxing.appspot.com/scan. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="zxing.appspot.com" android:path="/scan"/>
            </intent-filter>
            <!-- We also support a Google Product Search URL. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="www.google.com" android:path="/m/products/scan"/>
            </intent-filter>
            <!-- And the UK version. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="www.google.co.uk" android:path="/m/products/scan"/>
            </intent-filter>
            <!-- Support zxing://scan/?... like iPhone app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="zxing" android:host="scan" android:path="/"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.PreferencesActivity"
            android:stateNotNeeded="true">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.encode.EncodeActivity"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.ENCODE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- This allows us to handle the Share button in Contacts. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/x-vcard"/>
            </intent-filter>
            <!-- This allows us to handle sharing any plain text . -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.book.SearchBookContentsActivity"
            android:stateNotNeeded="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SEARCH_BOOK_CONTENTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.share.ShareActivity"
            android:stateNotNeeded="true"
            android:screenOrientation="user"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SHARE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.history.HistoryActivity"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.share.BookmarkPickerActivity"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.share.AppPickerActivity"
            android:stateNotNeeded="true"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ibuildapp.romanblack.QRPlugin.HelpActivity"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.ibuildapp.romanblack.SkCataloguePlugin.SkCataloguePlugin"/>

        <activity android:name="com.ibuildapp.romanblack.SkCataloguePlugin.SkCatalogueMain"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.ibuildapp.romanblack.SkCataloguePlugin.SkCatalogueDetails"/>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!-- VIDEO PLUGIN -->
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.VideoPlugin"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.CommentsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.CommentsToCommentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.VideoPlayer"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.AuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.FacebookAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.TwitterAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.EMailAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.EMailSignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.SendMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.PlayerWebActivity"
            android:configChanges="orientation"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.SharingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.VideoPlugin.VideoBuffer"
            android:screenOrientation="portrait"/>

        <receiver android:name="com.ibuildapp.romanblack.VideoPlugin.PushBroadcast">
            <intent-filter>
                <action android:name="com.ibuildapp.romanblack.VideoPlugin.PUSH"/>
            </intent-filter>
        </receiver>

        <!-- TWITTER PLUGIN -->
        <activity android:name="com.ibuildapp.romanblack.TwitterPlugin.TwitterPlugin"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.TwitterPlugin.TweetDetailsActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ibuildapp.romanblack.TwitterPlugin.TwitterUrlsViewer"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ibuildapp.romanblack.TwitterPlugin.AccountActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ibuildapp.romanblack.TwitterPlugin.MediaActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ibuildapp.romanblack.TwitterPlugin.PostAReplyActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ibuildapp.romanblack.TwitterPlugin.UserListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ibuildapp.romanblack.TwitterPlugin.PostReplyActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- OpenTable -->
        <activity android:name="com.ibuildapp.romanblack.OpenTablePlugin.WebActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.OpenTablePlugin.OpenTablePlugin"
            android:screenOrientation="portrait"/>

        <!-- Camera Plugin -->
        <activity android:name="com.ibuildapp.romanblack.CameraPlugin.CameraPlugin"
            android:configChanges="orientation"/>
        <activity android:name="com.ibuildapp.romanblack.CameraPlugin.SharingActivity"
            android:screenOrientation="portrait"/>

        <!-- Shoping cart Plugin -->
        <activity android:name="com.ibuildapp.romanblack.ShopingCartPlugin.ShopingCartPlugin"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name="com.ibuildapp.romanblack.ShopingCartPlugin.CategoryProductDesigner"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.ShopingCartPlugin.ProductDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ibuildapp.romanblack.ShopingCartPlugin.Basket"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.ShopingCartPlugin.EditUserProfile"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.ShopingCartPlugin.OrderList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.ShopingCartPlugin.OrderSummary"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.ShopingCartPlugin.BasketHistory"
            android:screenOrientation="portrait"/>

        <!-- Directory plugin -->
        <activity android:name="com.ibuildapp.romanblack.DirectoryPlugin.DirectoryPlugin"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.DirectoryPlugin.DirectoryPluginItemsList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.DirectoryPlugin.DirectoryPluginItemDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.DirectoryPlugin.SharingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.PhotoGalleryPlugin"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name="PushBroadcast">
            <intent-filter>
                <action android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.PUSH"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.AlbumViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.CommentsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.CommentsToCommentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.AuthorizationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.FacebookAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.TwitterAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.EMailAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.EMailSignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.SendMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.SharingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.PhotoGalleryPlugin.PhotoGalleryDetails"
            android:configChanges="orientation|screenSize"/>

        <!-- Cordova plugin -->
        <activity android:name="com.ibuildapp.romanblack.CordovaPlugin.CordovaPlugin"/>

        <!-- Catalogue plugin -->
        <activity android:name="com.ibuildapp.romanblack.CataloguePlugin.CataloguePlugin"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.CataloguePlugin.CatalogueCategoryProductActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.CataloguePlugin.ProductDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.CataloguePlugin.SharingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.CataloguePlugin.ShoppingCartPage"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.romanblack.CataloguePlugin.ThankYouPage"
            android:screenOrientation="portrait"/>

        <service android:name="com.ibuildapp.romanblack.PayPalAndroidUtil.ConfirmationSender"
            android:exported="false" />

        <activity android:name="com.ibuildapp.FacebookPlugin.FacebookPlugin"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.CommentsViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.CommentsToCommentViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.WebViewActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.SendMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.PhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.ActivitySharing"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.ActivityVideo"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.ActivityVideoPlayer"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.AlbumViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ibuildapp.FacebookPlugin.PhotoViewActivity"
            android:screenOrientation="portrait"/>

    </application>

    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.appbuilder.core.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!--ContactsPlugin-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--CallPlugin, ContactsPlugin-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- MediaPlugin -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- CameraPlugin -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <!-- NewsPlugin -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

</manifest>
