<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appbuilder.sdk.android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>

        <activity
            android:name=".AppBuilderModuleMain"
            android:configChanges="orientation"/>

    </application>

</manifest>
